<hr />
<div class="col-lg-6">
    <h1>{{titulo}}</h1>
    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            <strong>{{alertMessage}}</strong>
        </div>
    </div>
    <form class="col-md-10" #userUpdateForm="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" required id="name" #name="ngModel" name="name" [(ngModel)]="user.name" />
        </p>
        <p>
            <label for="surname">Apellidos:</label>
            <input type="text" class="form-control" required id="surname" #surname="ngModel" name="surname"
                [(ngModel)]="user.surname" />
        </p>
        <p>
            <label for="email">Corre electrónico:</label>
            <input type="text" class="form-control" required id="email" #email="ngModel" name="email" [(ngModel)]="user.email" />
        </p>

        <div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
            <img src=""/>
        </div>
        <p>
            <label for="image">Sube tu foto</label>
            <input type="file" placeholder="Subir imagen..." id="image"/>
        </p>

        <input type="submit" value="Actualizar mis datos" class="btn btn-primary" />
    </form>
</div>