<div class="navigation col-lg-1" *ngIf="identity">
  <h1 class="head-title">
    <a [routerLink]="['/']">
      <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
      {{title}}
    </a>
  </h1>
  <nav id="navigation">
    <a href="#">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Buscar
    </a>
    <a [routerLink]="['/artists', 1]">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Artistas
    </a>
    <a href="#">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Albums
    </a>

  </nav>

  <nav id="user_logged">
    <div class="user-image">
      <img src="{{url + 'get-image-user/' + identity.image}}" id="image-logged" />
    </div>
    <span id="identity_name">
      {{identity.name}}
    </span>
    <a [routerLink]="['/mis-datos']">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Mis datos
    </a>
    <a (click)="logout()" class="btn-logout">
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Salir
    </a>
  </nav>
</div>

<div class="central col-lg-11" [class.hidden]="!identity">
  <router-outlet></router-outlet>
</div>

<div class="col-lg-11" *ngIf="!identity">
  <div class="col-lg-6">
    <h1>Identifícate</h1>

    <form class="col-md-10" #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <label for="log-email">Correo electrónico:</label>
        <input type="email" class="form-control" required id="log-email" #email="ngModel" name="email" [(ngModel)]="user.email" />
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span>
      </p>
      <p>
        <label for="log-password">Contraseña:</label>
        <input type="password" class="form-control" required id="log-password" #password="ngModel" name="password"
          [(ngModel)]="user.password" />
      </p>
      <div *ngIf="errorMessage">
        <div class="alert alert-danger">
          <strong>Error</strong> {{errorMessage}}
        </div>
      </div>
      <input type="submit" value="Entrar" class="btn btn-primary" />
    </form>
  </div>

  <div class="col-lg-6">
    <h1>Regístrate</h1>
    <div *ngIf="alertRegister">
      <div class="alert alert-info">
        <strong>{{alertRegister}}</strong>
      </div>
    </div>
    <form class="col-md-10" #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
      <p>
        <label for="reg-name">Nombre:</label>
        <input type="text" class="form-control" required id="reg-name" #name="ngModel" name="name" [(ngModel)]="user_register.name" />
      </p>
      <p>
        <label for="reg-surname">Apellidos:</label>
        <input type="text" class="form-control" required id="reg-surname" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" />
      </p>
      <p>
        <label for="reg-email">Corre electrónico:</label>
        <input type="text" class="form-control" required id="reg-email" #email="ngModel" name="email" [(ngModel)]="user_register.email" />
      </p>
      <p>
        <label for="reg-password">Contraseña:</label>
        <input type="password" class="form-control" required id="reg-password" #password="ngModel" name="password"
          [(ngModel)]="user_register.password" />
      </p>
      <input type="submit" value="Registrar" class="btn btn-primary" />
    </form>
  </div>
</div>