<div class="navigation col-lg-1" *ngIf="identity">
  <h1>
    {{title}}
  </h1>
  <span>
    {{identity.name}} {{identity.surname}} {{identity.email}}
  </span>
  <span class="btn btn-warning" (click)="logout()">
    Cerrar sesión
  </span>
</div>

<div class="clearfix"></div>

<div class="central col-lg-11" *ngIf="identity">
    <p>Estas logueado en la app</p>
</div>

<div class="col-lg-12" *ngIf="!identity">
  <div class="col-lg-6">
    <h1>Identifícate</h1>
    
    <form class="col-md-10" #loginForm="ngForm" (ngSubmit)="onSubmit()" >
      <p>
        <label for="log-email">Correo electrónico:</label>
        <input type="email" class="form-control" required id="log-email" #email="ngModel" name="email" [(ngModel)]="user.email"/>
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span>
      </p>
      <p>
          <label for="log-password">Contraseña:</label>
          <input type="password" class="form-control" required id="log-password" #password="ngModel" name="password" [(ngModel)]="user.password" />
      </p>
      <div *ngIf="errorMessage">
        <div class="alert alert-danger">
          <strong>Error</strong> {{errorMessage}}
        </div>
      </div>
      <input type="submit" value="Entrar" class="btn btn-primary"/>
    </form>
  </div>

  <div class="col-lg-6">
    <h1>Regístrate</h1>
    <div *ngIf="alertRegister">
      <div class="alert alert-info">
        <strong>{{alertRegister}}</strong>
      </div>
    </div>
    <form class="col-md-10" #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
        <p>
            <label for="reg-name">Nombre:</label>
            <input type="text" class="form-control" required id="reg-name" #name="ngModel" name="name" [(ngModel)]="user_register.name" />
        </p>
        <p>
            <label for="reg-surname">Apellidos:</label>
            <input type="text" class="form-control" required id="reg-surname" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" />
        </p>
        <p>
            <label for="reg-email">Corre electrónico:</label>
            <input type="text" class="form-control" required id="reg-email" #email="ngModel" name="email" [(ngModel)]="user_register.email" />
        </p>
        <p>
            <label for="reg-password">Contraseña:</label>
            <input type="password" class="form-control" required id="reg-password" #password="ngModel" name="password" [(ngModel)]="user_register.password" />
        </p>
        <input type="submit" value="Registrar" class="btn btn-primary"/>
    </form>
  </div>
</div>